.scrool-price{
    position: relative;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: white;
    width: 25%;
    height: 55%;
}

.scrool-price .sales{
    border: 1px solid #E94560;
    background-color: #E94560;
    color: #fff;
    border-radius: 100px;
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    top: 4.2%;
    left: 4.2%;
}

.stars{
    color: #FFCD4E;
    font-size: 16px;
    padding: 0 4%;
}

.scrool-price h2{
    color: #434A5A;
    padding: 0 4%;
    font-size: 15px;
}

.scrool-price-2{
    position: relative;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: white;
    width: 25%;
    height: 55%;
}

.scrool-price-2 .sales-2{
    border: 1px solid #E94560;
    background-color: #E94560;
    color: #fff;
    border-radius: 100px;
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    top: 4.2%;
    left: 4.2%;
}

.stars-2{
    color: #FFCD4E;
    font-size: 16px;
    padding: 0 4%;
}

.scrool-price-2 h2{
    color: #434A5A;
    padding: 0 4%;
    font-size: 15px;  
}

.price-2{
    font-size: 14px;
    padding: 0 4%;
}

.scrool-price-3{
    position: relative;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: white;
    width: 25%;
    height: 55%;
}

.scrool-price-3 .sales-3{
    border: 1px solid #E94560;
    background-color: #E94560;
    color: #fff;
    border-radius: 100px;
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    top: 4.2%;
    left: 4.2%;
}

.stars-3{
    color: #FFCD4E;
    font-size: 16px;
    padding: 0 4%;
}

.scrool-price-3 h2{
    color: #434A5A;
    padding: 0 4%;
    font-size: 15px;  
}

.price-3{
    font-size: 14px;
    padding: 0 4%;
}

.scrool-price-4{
    position: relative;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: white;
    width: 25%;
    height: 55%;
}

.scrool-price-4 .sales-4{
    border: 1px solid #E94560;
    background-color: #E94560;
    color: #fff;
    border-radius: 100px;
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    top: 4.2%;
    left: 4.2%;
}

.stars-4{
    color: #FFCD4E;
    font-size: 16px;
    padding: 0 4%;
}

.scrool-price-4 h2{
    color: #434A5A;
    padding: 0 4%;
    font-size: 15px;  
}

.price-4{
    font-size: 14px;
    padding: 0 4%;
}

.left-app i, .right-app i{
font-size: 50px;
}
