body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F3460;
    color: #fff;
    padding: 10px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.contact-info {
    margin-right: 20px;
}

.language-select select {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.short-phrases span {
    margin-left: 15px;
}

.content {
    padding: 20px;
}

.search input {
    width: 650px;
    height: 50px;
    border-radius: 150px;
    border-color: #E94560;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 50px;
}

.categories select {
    width: 150px;
    height: 50px;
    border-radius: 150px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-color: #E94560;
}

@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .navbar-left,
    .navbar-right {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .contact-info {
        display: block;
        margin-bottom: 10px;
    }

    .language-select {
        text-align: center;
    }

    .short-phrases {
        text-align: center;
    }
}


.navbar-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
}

.navbar-2-left {
    display: flex;
    align-items: center;
}

.brand {
    font-size: 24px;
    font-weight: bold;
}


.navbar-2-right {
    display: flex;
    color: black;
}

.navbar-2-right i {
    border-radius: 100%;
    border: 2px solid #E94560;
    padding: 15px;
    background-color:#E94560;
    color: #0F3460;
}

.navbar-3-left ul {
    list-style-type: none;
}

.content {
    padding: 20px;
}

.navbarall {
    width: 100%;
}

.navbarall .navbar-3-left {
    width: 30%;
}

.navbarall .word {
    width: 40%;
}

.navbarall .img {
    width: 30%;
}

.navbar-cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
}

.navbar-brand {
    font-weight: bold;
}

.category {
    font-size: 18px;
}

.words-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.words-list li {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #E94560;
    border-radius: 5px;
    font-size: 14px;
    color: #0F3460;
}

.words-list li:last-child {
    margin-right: 0;
}

.navbar-categories {
    background-color: #fff;
    border: 2px solid #F6F9FC;
    width: 205px;
}

.navbar-3-left {
    background-color: #fff;
    border: 2px solid #F6F9FC;
}

.flash-up-left i{
    font-size: 30px;
    color: #E94560;
}
.flash-up-left h2{
    color: black;
}

.flash-up-right i{
    color:grey;
}
.flash-up-right span{
    color: grey;
}

footer{
    background-color: #0F3460;
}

footer .container>div{
    margin:auto;
}

footer .first-footer{
    width: 30%;
}
footer .second-footer{
    width: 20%;
}
footer.thrid-footer{
    width: 20;
}
footer .fourth-footer{
    width: 20%;
}
footer a{
    text-decoration: none;
    color: #AEB4BE;
}
footer p{
    color: #AEB4BE;
}
footer h1 {
   color: #F6F9FC;
}
footer .logo p,h2{
color: #F6F9FC;
}

footer .right-app-store p,h2{
   font-size: 15px;
}

footer ul{
    list-style-type: none;
}

footer{
    padding: 50px 0;
}

footer .left-logo, .right-logo{
    background-color: #0C2A4D;
}

.bottom-product img:hover{
    filter:brightness(80%);
    transition: 0.5s;
    cursor: pointer;
}

.bottom-product img{
    border: 1px solid #F6F9FC;
    border-radius: 35px;
    width: 155px;
}

.topratings .bottom{
    border: 1px solid #E94560;
    border-radius: 15px;
    background-color:white;
}

.bottom-product img{
    padding: 10px 10px;
}

.bottom-product p{
    text-align: center;
    margin: 0;
}

.bottom-product .stars {
    text-align: center;
    margin: 0;
    padding: 10px ;
}

.bottom-product .stars i{
    font-size: 12px;
}

.top-left i,h1{
    font-size: 28px;
}

.top-right span, i{
    font-size: 20px;
}

.featured .top i,h1{
    font-size: 28px;
}

.top-left i{
    color: #E94560;
}

.featured .top i{
    color: #E94560;
}

.bottom .top-product img:hover{
    filter:brightness(80%);
    transition: 0.5s;
    cursor: pointer;
}

.bottom {
    border: 1px solid #E94560;
    border-radius:15px;
}

.top-product img{
    width: 280px;
    padding: 15px;
   
}

.top .top-right span,i{
    color: grey;
}

.featured .top-right i, .featured .top-right span{
    color:grey;
}

.n-left i{
font-size: 30px;
color: #E94560;
}

.n-right i, .n-right span{
    font-size: 15px;
    color: grey;
}

.newproduct img{
    width: 200px;
    padding: 10px 10px;
}

.newproduct h2{
    padding-top: 8px;
    color: black ;
}

.newproduct p{
    padding: 0 2px;
    color: #E94560;
}

.new-product {
    border: 2px solid #E94560;
    border-radius: 15px;
}

.featured .top-right i, .featured .top-right span{
    font-size: 15px;
}

.topratings .top-rightt i, .topratings .top-right span{
    font-size: 15px;
}

.new-product .newproduct img:hover{
    filter:brightness(80%);
    transition: 0.5s;
    cursor: pointer;
}

.new-product .newproduct p, .new-product .newproduct h2{
    margin-left: 15px;
}

.image-group{
    width: 100%;
    height: auto;
}

.image-group .image-left{
    width: 35%;
    height: auto;
}

.image-group .image-right{
    width: 70%;
    height: auto;
}

.image-right img, .image-left img{
    width: 100%;
    height: auto;
}

.car-cards-down {
    width: 100%;
}

.lord-2019{
    border: 1px solid #E94560;
    border-radius: 15px;
    width: 100%;
    position: relative;
}
.lord-2019 img{
    width: 100%;
}
.sales {
    display: inline-flex;
    border-radius: 300px;
    transition: all 150ms ease-in-out 0s;
    cursor: unset;
    box-shadow: unset;
    padding: 5px 10px;
    background-color: rgb(233, 69, 96);
    color:white;
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 1;
    font-size: 10px;
    font-weight: 600;
}
.lord-2019 .stars i{
    color: #FFCD4E;
}
.lord-2019 .stars{
    padding: 15px;
}
.lord-2019 p{
    padding: 15px;
    font-weight: 15px;
    color: #E94560;
}

.lord-2019 h1{
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
}

.car-list{
    background-color: white;
    box-shadow: 10px 10px #80808014;
}
.car-brand{
    background-color: #80808014;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}
.car-brand a{
    color: black;
    font-weight: 600;
}
.cars-list a{
    text-decoration: none;
}
.car-brand p{
    text-align: center;
    padding-top: 10px;
}

.f-up-left i{
    padding: 5px;
    color: #E94560;
}

.f-up-right i{
    color: grey;
    font-size: 15px;
}
.f-up-right span{
    color: grey;
}
.f-down h1{
    font-size: 15px;
}

.f-down-all{
    justify-content: space-between;
}

.card-f-down{
    width: 284px;
    position: relative;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card-f-down .sales{
    position: absolute;
}
.card-f-down p, .card-f-down h1, .card-f-down .stars{
padding: 15px;
}
.flash-deals{
    margin-bottom: 70px;
}
.flash-deals .f-down .stars i{
    color:#FFCD4E;
}
.flash-deals .f-down .sales {
    color:#F6F9FC;
}
.flash-deals .f-down .price p{
    color: #E94560;
}

.top-down .order-head {
    border: 1px solid #0C2A4D;
    border-radius: 8px;
    background-color: #0F3460;
    width: 25%;
}
.top-down .order-head p{
    font-size: 15px;
    color:white;
}
.top-down{
    position: absolute;
}
.top-down .order-head .head{
    position: relative;
}

.card-all {
    margin-top: 30px;
}

.mobile-card{
    margin-top: 35px;
}

.m-card{
    position: relative;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.m-card img{
    width: 350px;
}

.m-card .sales{
position: absolute;
}
.m-card .stars i{
    color:#FFCD4E;
}
.m-card .sales {
    color:#F6F9FC;
}
.m-card .price p{
    color: #E94560;
}

.m-card p, .m-card h1, .m-card .stars{
    padding: 15px;
}
.mobile-card-left {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.mobile-card-left a{
    text-decoration: none;
}
.mobile-cards-left{
    width: 25%;
}
.mobile-cards-right{
    width: 75%;   
}


.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}



